.section_title {
    @include secondaryFont;
    color: #343434;
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-left: 140px;
    margin-bottom: 70px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: $acentColor;
        top: 12px;
        left: 0;
    }
    &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 3px;
        background-color: $acentColor;
        top: 25px;
        left: 50px;
    }
}