        @media (max-width: 1140px) {
            .our__projects-slider {
                .slick-slide {
                    text-align: center;
                }
            }
            .rent__content {
                flex-direction: column;
                align-items: center;
                .rent__descr {
                    max-width: 660px;
                    margin-bottom: 50px;
                }
            }
            .news__current-new {
                max-width: 540px;
                margin-bottom: 30px;
            }
            .news {
                .news__inner {
                    .news__wrapper {
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                }
            }
            .news__past-news {
                min-height: 242px;
            }
        }
        
        @media (max-width: 900px) {
            .header__top-inner {
                .logo {
                    left: 15px;
                    z-index: 10;
                }
                .header__top-nav {
                    display: flex;
                    justify-content: right;
                    padding-right: 30px;
                }
            }
            .container {
                .header__content {
                    .header__title h1 {
                        padding-left: 40px;
                    }
                    .header__subtitle {
                        padding-left: 40px;
                    }
                }
                .header__btn {
                    padding-left: 40px;
                }
            }
            .footer__contacts {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .footer__phone,
                .footer__adress,
                .footer__email {
                    margin-bottom: 10px;
                }
            }
            .footer__menu {
                &-items {
                    padding-right: 10px;
                }
            }
        }
        
        @media (min-width: 720px) {
            .header__top-nav__items {
                display: flex !important;
            }
        }
        
        @media (max-width: 720px) {
            .container {
                .header__content {
                    .header__title h1 {
                        padding-left: 40px;
                        font-size: 40px;
                        line-height: 55px;
                    }
                }
            }
            .header__top-inner {
                min-height: 80px;
                .header__top-mobile-menu_btn {
                    display: block;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 35px;
                    right: 50px;
                    z-index: 10;
                    &:hover {
                        cursor: pointer;
                    }
                    #bar {
                        display: inline-block;
                        position: absolute;
                        height: 3px;
                        width: 30px;
                        background-color: $mainFontColor;
                        top: 8px;
                        right: 0;
                    }
                    #bar.bar {
                        display: inline-block;
                        position: absolute;
                        top: 12px;
                        right: 0;
                        height: 0;
                        width: 30px;
                        background-color: $mainFontColor;
                    }
                    #bar.bar::before {
                        transform-origin: center;
                        top: 0;
                        transform: rotate(45deg);
                    }
                    #bar.bar::after {
                        transform-origin: center;
                        top: 0;
                        transform: rotate(-45deg);
                    }
                    #bar::before {
                        content: " ";
                        position: absolute;
                        height: 3px;
                        width: 30px;
                        background-color: $mainFontColor;
                        display: block;
                        top: -9px;
                        left: 0;
                    }
                    #bar::after {
                        content: " ";
                        display: block;
                        position: absolute;
                        height: 3px;
                        width: 30px;
                        background-color: $mainFontColor;
                        top: 9px;
                        left: 0;
                    }
                }
                .header__top-nav {
                    display: block;
                    padding-right: 0;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    width: 100%;
                    .header__top-nav__items {
                        text-align: center;
                        display: none;
                        background-color: $acentColor;
                        padding-top: 80px;
                        z-index: 0;
                        .header__top-nav__item {
                            padding: 10px;
                            margin-left: 0 !important;
                            border-bottom: 1px solid #fff;
                            &:nth-child(1) {
                                border-top: 1px solid #fff;
                            }
                        }
                    }
                }
            }
            .rent__slider {
                &-item {
                    &_descr>ul {
                        text-align-last: left;
                    }
                    &_title {
                        text-align: center;
                        margin-bottom: 60px;
                        max-width: 320px;
                        margin: 40px auto 60px;
                    }
                    &_content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                    }
                }
                &-outer {
                    .rent__slider {
                        .slick-btn {
                            top: 100px;
                        }
                        .slick-next {
                            right: 42%;
                        }
                        .slick-prev {
                            right: 50%;
                        }
                    }
                }
            }
        }
        
        @media (max-width: 600px) {
            .container .header__content {
                .header__title h1 {
                    padding-left: 10px;
                    font-size: 35px;
                }
                .header__subtitle,
                .header__btn {
                    padding-left: 10px;
                    max-width: 600px;
                    white-space: normal;
                }
            }
            .news__past-news {
                flex-direction: column;
                justify-content: space-between;
            }
            .news__past-new {
                min-height: 242px;
                margin-bottom: 30px;
                margin-left: 0;
            }
            // .news .news__inner .news__wrapper .news__current-new
            .news {
                .news__inner {
                    .news__title_btn-wrapper {
                        flex-direction: column;
                        align-items: center;
                        .news__title,
                        .news__btn {
                            margin-bottom: 30px;
                        }
                    }
                    .news__wrapper {
                        .news__current-new {
                            .news__current-new-img {
                                margin-right: 0;
                                margin-bottom: 30px;
                            }
                            flex-direction: column;
                            max-width: 405px;
                            min-width: 320px;
                            .news__current-new-content {
                                .news__current-new-descr {
                                    margin-bottom: 30px;
                                    padding: 0 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        @media (max-width: 495px) {
            .section_title {
                font-size: 23px;
                margin-bottom: 30px;
            }
            .container .header__content {
                width: 100%;
                .header__title h1 {
                    padding-left: 0;
                    font-size: 35px;
                    white-space: initial;
                    text-align: center;
                }
                .header__subtitle,
                .header__btn {
                    padding-left: 0;
                    max-width: 320px;
                    margin: 37px auto;
                    text-align: center;
                }
            }
            .our__projects-title {
                .section_title {
                    margin-bottom: 125px;
                }
            }
        }